html {
  scroll-behavior: smooth;
}
.row.content {
  height: 60vh;
}
.col-sm-3 {
  height: auto;
}
#menu-btn {
  position: absolute;
  right: 3%;
  top: 2%;
}
#left-asaid {
  border-radius: 5px;
  height: auto;
}
#right-asiad H1 {
  margin-left: 20px;
}
img {
  transition: box-shadow 1s;
}
img:hover {
  box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 1.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}
#cat1,
#cat2,
#cat3 {
  cursor: pointer;
  margin-bottom: 10%;
  border-radius: 8px;
  width: 100%;
}
#tiger {
  width: 100%;
  border-radius: 8px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer {
  height: 200px;
  width: 100%;
  background-color: #47525e;
}
#main-email-col {
  top: 15%;
  margin-bottom: 40px;
}
.email-holder {
  text-align: center;
}
#usrInput {
  width: 50%;
  display: inline-block;
}
.footer-menu {
  color: white;
}
a {
  cursor: pointer;
  color: white;
}
I {
  cursor: pointer;
}
